<lib-task-form *ngIf="isEditFormEnabled" [task]="task"></lib-task-form>

<div class="container">
    <div class="d-flex justify-content-end mb-5">
        <button *ngIf="!isEditFormEnabled" class="btn btn-primary " (click)="toggleForm()">Edit Task</button>
        <button *ngIf="isEditFormEnabled" class="btn btn-danger" (click)="toggleForm()">Cancel</button>
    </div>
    <div class="card mb-3 mx-auto" style="max-width: 50rem;">
        <div class="row g-0">
            <div *ngIf="task.media.length>20" class="col-sm-12 col-md-4 my-auto">
                <img class="img-fluid rounded-start" [src]="task.media" style="max-width: 15rem;" alt="task image">
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Task {{task.id}}</h5>
                    <p class="card-text">{{task.description}}</p>
                    <p class="card-text"><small class="text-muted">Last updated: {{task.updatedAt | date:'short' }}</small></p>
                    <p class="card-text"><small class="text-muted">Created updated: {{task.createdAt | date:'short' }}</small></p>
                    <p><small *ngIf="task.completed">Status: completed </small></p>
                    <p><small *ngIf="!task.completed">Status: in progress </small></p>
                </div>
            </div>
        </div>
    </div>
</div>
